{% extends 'viewer/base.html' %}
{% load staticfiles %}
{% load url from future %}
{% block title %}PACE | Report Viewer{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
           <div class="col-md-2 search-field">
                <p>County: </p>
                <select name="cnty" id="cnty" class="cnty-dd form-control">
                       <option value="NQ">Select County</option>
                      {% for cnty in cntys %}
                       <option value="{{ cnty.co_no }}">{{ cnty.county_name|title }}</option>
                      {% endfor %}
                </select>
            </div>
            <div class="col-md-2 search-field">
                  <p>City: </p>
                  <select name="city" id="city" class="city-dd form-control">
                  </select>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
            <div class="col-md-2 search-field filter-area">
                  <select name="prop-type" id="prop-type" class='form-control qf'>
                    <option value="all">Property Type (optional)</option>
                    <option value="Res">Residential</option>
                    <option value="Com">Commercial</option>
              </select>
            </div>
            <div class="col-md-2 search-field filter-area">
                <select name="q-field" id="q-field" class='form-control qf'>
                      <option value="NQ">Select Filter Fields (optional)</option>
                      <option value="just_value">Just Value</option>
                      <option value="act_yr_blt">Actual Year Built</option>
                      <option value="eff_yr_blt">Effectives Year Built</option>
                      <option value="tot_lvg_ar">Total Living Area (sq ft)</option>
                </select>
          </div>
          <div class="col-md-2">
                <select name="opt" id="opt" class='form-control'>
                      <option value="eq">=</option>
                      <option value="gt">&gt;</option>
                      <option value="gte">&ge;</option>
                      <option value="lt">&lt;</option>
                      <option value="lte">&le;</option>
                </select>
          </div>
          <div class="col-md-2 filter-area">
                <input type="text" id="val" name="val" class="form-control">
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
              <button class="btn btn-primary" id="search-button-report">Search</button>
        </div>
      </div>
      <br>
      <hr>
      <br>
    <div class="row">
    <div class="col-md-12">
          <table cellpadding="0" cellspacing="0" border="0" id="searchResults">
                <thead>
                  <tr>
                   <th>Parcel</th>
                   <th>Use Code Descr</th>
                   <th>Act Yr Built</th>
                   <th>Eff Yr Built</th>
                   <th>Total Living Area</th>
                   <th>Just Value</th>
                   <th>Max PACE Amt</th>
                   <th>Sale Price/Year(1)</th>
                   <th>Sale Price/Year(2)</th>
                   <th># Prior Certs</th>
                   <th>Last Cert Yr</th>
                   <th>Owner Occupied</th>
                 </tr>
             </thead>
             <tbody>
             </tbody>
              <tfoot>
                  <tr>
                    <th>Parcel</th>
                   <th>Use Code Descr</th>
                   <th>Act Yr Built</th>
                   <th>Eff Yr Built</th>
                   <th>Total Living Area</th>
                   <th>Just Value</th>
                   <th>Max PACE Amt</th>
                   <th>Sale Price/Year(1)</th>
                   <th>Sale Price/Year(2)</th>
                   <th># Prior Certs</th>
                   <th>Last Cert Yr</th>
                   <th>Owner Occupied</th>
                 </tr>
             </tfoot>
          </table>
    </div>
</div>
</div>
{% endblock %}

{% block my_js %}
<script type="text/javascript">

  function searchByFieldUrl(){

      var cntyno = $('#cnty option:selected').val();
      var city = $('#city option:selected').val();
      var qfield = $('#q-field option:selected').val();
      var opt = $('#opt option:selected').val();
      var val = $('#val').val();
      var proptype = $('#prop-type option:selected').val();

      var url = '/viewer/data/sq/' + cntyno + '/' + city + '/?';
      console.log(proptype, qfield, opt, val);

      var dataString = 'qfield=' + qfield + '&opt=' + opt + '&val=' + val + '&proptype=' + proptype + '&resp_type=json'; 
      console.log("#####  ", url + dataString);
      return url + dataString;
             
  }



   
    function getPropertyTypes(){
        $.getJSON('/viewer/data/uc/', function(data){

            $.each(data, function(i, item){

                console.log(item);
                $('#p-type')
                .append($("<option></option>")
                   .attr("value",item.description)
                   .text(item.description)); 
            });
        });
    }

    // on ready
    $(document).ready(function(){
        $('#searchResults').hide();

        $( ".cnty-dd" ).change(function() {
            var ddtable =  $(this).find("option:selected").text();
            $('#city').find('option').remove().end();
            //console.log(ddtable);
            $.getJSON('/viewer/dd/'+ ddtable + '/', function(data){
                //dd = data;
                $.each(data, function(i, item){
                    console.log(item.id);
                    $('#city')
                    .append($("<option></option>")
                       .attr("value",item.pk)
                       .text(item.fields.city)); 
                });
            });
            $('.filter-area').show();
            $('#search-button-report').prop('disabled', false); // enable our search button
        });

        $('#search-button-report').click(function(){
           console.log('button clicked!');
          $('#searchResults').show();
          var table = $('#searchResults').dataTable( {
            "destroy" : true,
             "processing": true,
             dom: 'Bfrtip',
                buttons: [
                  //'copyHtml5',
                  'excelHtml5',
                  'csvHtml5'
                  //'pdfHtml5'
              ],
             "ajax": {
                 "processing": true,
                 "url": searchByFieldUrl(),
                 "dataSrc": ""
             },

             "columns": [
                     {"data" : "parcel_id", mRender : function(data, type, row){
                        return '<a href="'+row.fields.pa_url+'">'+row.fields.gis_id+'</a>';
                     }},
                     {"data" : "fields.use_code_descr"},
                     {"data" : "act_yr_blt", mRender : function(data, type, row){
                        var act_yr_built = 0000;
                        if(row.fields.act_yr_blt !== null){
                          act_yr_built = row.fields.act_yr_blt;
                        }

                        return act_yr_built;
                     }},
                     {"data" : "eff_yr_blt", mRender : function(data, type, row){
                        var eff_yr_built = 0000;
                        if(row.fields.eff_yr_blt !== null){
                          eff_yr_built = row.fields.eff_yr_blt;
                        }
                        return eff_yr_built;
                     }},
                     {"data" : "tot_lvg_ar", mRender : function(data, type, row){
                      var tot_lvg_ar = 0;
                      if(row.fields.tot_lvg_ar !== null){
                        tot_lvg_ar = row.fields.tot_lvg_ar.toFixed(0).replace(/./g, function(c, i, a) {
                          return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                          });
                        }
                        return tot_lvg_ar;
                     }},
                     {"data" : "just_value", mRender : function(data, type, row){
                      var jv = 0;
                      if(row.fields.just_value !== null){
                        jv = row.fields.just_value.toFixed(0).replace(/./g, function(c, i, a) {
                          return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                         });
                      }
                      return jv;
                     }},
                     {"data" : "max_pace_amt", mRender : function(data, type, row){
                      var max_pace_amt = 0;
                      if(row.fields.just_value !== null){
                        max_pace_amt = (parseInt(row.fields.just_value)*0.2).toFixed(0).replace(/./g, function(c, i, a) {
                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            });
                      }
                        return max_pace_amt;
                     }},
                     {"data" : "sale_prc1_yr1", mRender : function(data, type, row){
                      var sale_prc1 = 0;
                      var sale_yr1 = 0000;
                      if (row.fields.sale_prc1 !== null){
                        sale_prc1 = row.fields.sale_prc1.toFixed(0).replace(/./g, function(c, i, a) {
                          return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                          });
                      }
                      if(row.fields.sale_yr1 !== null){
                        sale_yr1 = row.fields.sale_yr1
                      }
                        return sale_prc1 + '/' + sale_yr1;
                     }},
                     {"data" : "sale_prc2_yr2", mRender : function(data, type, row){
                        var sale_prc2 = 0;
                        var sale_yr2 = 0000;
                        if (row.fields.sale_prc2 !== null){
                          sale_prc2 = row.fields.sale_prc2.toFixed(0).replace(/./g, function(c, i, a) {
                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            });
                        }
                        if(row.fields.sale_yr2 !== null){
                          sale_yr2 = row.fields.sale_yr2
                        }
                        return sale_prc2 + '/' + sale_yr2;
                     }},
                     {"data" : "fields.prior_cert_cnt"},
                     {"data" : "recent_cert_yr", mRender : function(data, type, row){
                        var recent_cert_yr = 'NA';
                        if(row.fields.recent_cert_yr !== null){
                          recent_cert_yr = row.fields.recent_cert_yr;
                        }
                        return recent_cert_yr;
                     }},
                     {"data" : "owner_occupied", mRender : function(data, type, row){
                        addr1 = row.fields.phy_addr1 + ' ' + row.fields.phy_addr2
                        addr2 = row.fields.own_addr1 + ' ' + row.fields.ow_addr2

                        return strcmp(addr1, addr2);
                     }},
                 ]
         }); // --> end of datatable call

        /*// Apply the search/filtering
        table.columnFilter({ //sPlaceHolder: "head:after",
                             aoColumns: [
                                         { type: "text" }, // parcel
                                         { type: "text" }, // use code descr
                                         { type: "number-range" }, // act yr built
                                         { type: "number-range" }, // eff yr built
                                         { type: "number-range" }, // total living area
                                         { type: "number-range" }, // just value
                                         { type: "number-range" }, // max pace amt
                                         { type: "text" }, // sale price yr 1
                                         { type: "text" }, // sale price yr 2
                                         { type: "number-range" }, // # prior certs
                                         { type: "number-range" }, // last cert yr
                                         { type: "text" }, // owner ocupied
                                         ]
        }); // --> end of adding filtering to table columns
            */
        }); // --> end search button report click
    }); // --> end ready function
    
    function strcmp ( str1, str2 ) {
      return ( ( str1 == str2 ) ? 0 : ( ( str1 > str2 ) ? 'T' : 'F' ) );
    }
</script>
{% endblock %}