{% extends 'main/base.html' %}
{% load url from future %}
{% block title %}Whiteboard | Home{% endblock%}
{% block page_title %} {{ message.title}}{% endblock%}
{% block content %}
	<div class="row">
		<div class="col-md-10">
			<pre>{{ message.content}}</pre>
			<p>Posted by: <a href="/whiteboard/users/{{message.user.username}}">{{message.user.username}}</a> at {{message.datetime}} Language: <a href="/whiteboard/filter/{{message.language}}">{{message.language}}</a></p>
		</div>
	</div>
{% endblock %}